 
<div data-options="region:'north',border:false" class="head-north">
 
    <div class="head head-north-right">
        <a href="javascript:void(0)" class="easyui-linkbutton" style="line-height: 24px;" title="currentUser.Account" data-options="iconCls:'icon-flag_france',plain:true">currentUser.Account</a>
        <a href="javascript:void(0)" class="easyui-menubutton" style="line-height: 24px;" data-options="menu:'#mm_user',iconCls:'icon-user_home'">当前用户:currentUser.Account</a>
        <div id="mm_user" style="width: 150px;">
            @*<div data-options="iconCls:'icon-cog_stop'">个人设置</div>
            <div data-options="@IconCls.Edit" >修改密码</div>
            <div class="menu-sep"></div>*@
            <div data-options="iconCls:'icon-user_cross'" id="logout">安全退出</div>
        </div>
    </div>
    <span class="head-north-left">
        @* @ViewBag.Title 翻转课堂后台管理系统*@
    </span>
    @*<a href="javascript:void(0)" target="_blank" style="color: white">建议使用浏览器:Chrome 30+、Firefox25+、IE9+；IE678请勿用，以免影响使用</a>*@
</div>
