/*.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}*/
/**************MyIcons**********************/
.icon-application_osx_add{background:url('myicons/application_osx_add.png') no-repeat center center;}
.icon-application_osx_cascade{background:url('myicons/application_osx_cascade.png') no-repeat center center;}
.icon-application_osx_delete{background:url('myicons/application_osx_delete.png') no-repeat center center;}
.icon-application_osx_double{background:url('myicons/application_osx_double.png') no-repeat center center;}
.icon-application_osx_error{background:url('myicons/application_osx_error.png') no-repeat center center;}
.icon-application_osx_get{background:url('myicons/application_osx_get.png') no-repeat center center;}
.icon-application_osx_go{background:url('myicons/application_osx_go.png') no-repeat center center;}
.icon-application_osx_home{background:url('myicons/application_osx_home.png') no-repeat center center;}
.icon-application_osx_key{background:url('myicons/application_osx_key.png') no-repeat center center;}
.icon-application_osx_lightning{background:url('myicons/application_osx_lightning.png') no-repeat center center;}
.icon-application_osx_link{background:url('myicons/application_osx_link.png') no-repeat center center;}
.icon-application_osx_split{background:url('myicons/application_osx_split.png') no-repeat center center;}
.icon-application_osx_start{background:url('myicons/application_osx_start.png') no-repeat center center;}
.icon-application_osx_stop{background:url('myicons/application_osx_stop.png') no-repeat center center;}
.icon-application_start{background:url('myicons/application_start.png') no-repeat center center;}
.icon-application_stop{background:url('myicons/application_stop.png') no-repeat center center;}
.icon-arrow_ew{background:url('myicons/arrow_ew.png') no-repeat center center;}
.icon-arrow_in_longer{background:url('myicons/arrow_in_longer.png') no-repeat center center;}
.icon-arrow_ne{background:url('myicons/arrow_ne.png') no-repeat center center;}
.icon-arrow_ns{background:url('myicons/arrow_ns.png') no-repeat center center;}
.icon-arrow_nsew{background:url('myicons/arrow_nsew.png') no-repeat center center;}
.icon-arrow_nw{background:url('myicons/arrow_nw.png') no-repeat center center;}
.icon-arrow_nw_ne_sw_se{background:url('myicons/arrow_nw_ne_sw_se.png') no-repeat center center;}
.icon-arrow_nw_se{background:url('myicons/arrow_nw_se.png') no-repeat center center;}
.icon-arrow_out_longer{background:url('myicons/arrow_out_longer.png') no-repeat center center;}
.icon-arrow_se{background:url('myicons/arrow_se.png') no-repeat center center;}
.icon-arrow_sw{background:url('myicons/arrow_sw.png') no-repeat center center;}
.icon-arrow_switch_bluegreen{background:url('myicons/arrow_switch_bluegreen.png') no-repeat center center;}
.icon-arrow_sw_ne{background:url('myicons/arrow_sw_ne.png') no-repeat center center;}
.icon-asterisk_red{background:url('myicons/asterisk_red.png') no-repeat center center;}
.icon-bell_silver{background:url('myicons/bell_silver.png') no-repeat center center;}
.icon-bell_silver_start{background:url('myicons/bell_silver_start.png') no-repeat center center;}
.icon-bell_silver_stop{background:url('myicons/bell_silver_stop.png') no-repeat center center;}
.icon-bell_start{background:url('myicons/bell_start.png') no-repeat center center;}
.icon-bell_stop{background:url('myicons/bell_stop.png') no-repeat center center;}
.icon-bookmark{background:url('myicons/bookmark.png') no-repeat center center;}
.icon-bookmark_add{background:url('myicons/bookmark_add.png') no-repeat center center;}
.icon-bookmark_delete{background:url('myicons/bookmark_delete.png') no-repeat center center;}
.icon-bookmark_edit{background:url('myicons/bookmark_edit.png') no-repeat center center;}
.icon-bookmark_error{background:url('myicons/bookmark_error.png') no-repeat center center;}
.icon-bookmark_go{background:url('myicons/bookmark_go.png') no-repeat center center;}
.icon-book_addresses_add{background:url('myicons/book_addresses_add.png') no-repeat center center;}
.icon-book_addresses_delete{background:url('myicons/book_addresses_delete.png') no-repeat center center;}
.icon-book_addresses_edit{background:url('myicons/book_addresses_edit.png') no-repeat center center;}
.icon-book_addresses_error{background:url('myicons/book_addresses_error.png') no-repeat center center;}
.icon-book_addresses_key{background:url('myicons/book_addresses_key.png') no-repeat center center;}
.icon-book_key{background:url('myicons/book_key.png') no-repeat center center;}
.icon-book_magnify{background:url('myicons/book_magnify.png') no-repeat center center;}
.icon-book_open_mark{background:url('myicons/book_open_mark.png') no-repeat center center;}
.icon-book_red{background:url('myicons/book_red.png') no-repeat center center;}
.icon-book_tabs{background:url('myicons/book_tabs.png') no-repeat center center;}
.icon-border_all{background:url('myicons/border_all.png') no-repeat center center;}
.icon-border_bottom{background:url('myicons/border_bottom.png') no-repeat center center;}
.icon-border_draw{background:url('myicons/border_draw.png') no-repeat center center;}
.icon-border_inner{background:url('myicons/border_inner.png') no-repeat center center;}
.icon-border_inner_horizontal{background:url('myicons/border_inner_horizontal.png') no-repeat center center;}
.icon-border_inner_vertical{background:url('myicons/border_inner_vertical.png') no-repeat center center;}
.icon-border_left{background:url('myicons/border_left.png') no-repeat center center;}
.icon-border_none{background:url('myicons/border_none.png') no-repeat center center;}
.icon-border_outer{background:url('myicons/border_outer.png') no-repeat center center;}
.icon-border_right{background:url('myicons/border_right.png') no-repeat center center;}
.icon-border_top{background:url('myicons/border_top.png') no-repeat center center;}
.icon-box_error{background:url('myicons/box_error.png') no-repeat center center;}
.icon-box_picture{background:url('myicons/box_picture.png') no-repeat center center;}
.icon-box_world{background:url('myicons/box_world.png') no-repeat center center;}
.icon-brick_magnify{background:url('myicons/brick_magnify.png') no-repeat center center;}
.icon-bug_fix{background:url('myicons/bug_fix.png') no-repeat center center;}
.icon-bug_magnify{background:url('myicons/bug_magnify.png') no-repeat center center;}
.icon-build{background:url('myicons/build.png') no-repeat center center;}
.icon-build_cancel{background:url('myicons/build_cancel.png') no-repeat center center;}
.icon-bullet_connect{background:url('myicons/bullet_connect.png') no-repeat center center;}
.icon-bullet_cross{background:url('myicons/bullet_cross.png') no-repeat center center;}
.icon-bullet_database{background:url('myicons/bullet_database.png') no-repeat center center;}
.icon-bullet_database_yellow{background:url('myicons/bullet_database_yellow.png') no-repeat center center;}
.icon-bullet_earth{background:url('myicons/bullet_earth.png') no-repeat center center;}
.icon-bullet_edit{background:url('myicons/bullet_edit.png') no-repeat center center;}
.icon-bullet_eject{background:url('myicons/bullet_eject.png') no-repeat center center;}
.icon-bullet_get{background:url('myicons/bullet_get.png') no-repeat center center;}
.icon-bullet_home{background:url('myicons/bullet_home.png') no-repeat center center;}
.icon-bullet_left{background:url('myicons/bullet_left.png') no-repeat center center;}
.icon-bullet_lightning{background:url('myicons/bullet_lightning.png') no-repeat center center;}
.icon-bullet_magnify{background:url('myicons/bullet_magnify.png') no-repeat center center;}
.icon-bullet_minus{background:url('myicons/bullet_minus.png') no-repeat center center;}
.icon-bullet_page_white{background:url('myicons/bullet_page_white.png') no-repeat center center;}
.icon-bullet_plus{background:url('myicons/bullet_plus.png') no-repeat center center;}
.icon-bullet_right{background:url('myicons/bullet_right.png') no-repeat center center;}
.icon-bullet_shape{background:url('myicons/bullet_shape.png') no-repeat center center;}
.icon-bullet_sparkle{background:url('myicons/bullet_sparkle.png') no-repeat center center;}
.icon-bullet_start{background:url('myicons/bullet_start.png') no-repeat center center;}
.icon-bullet_stop{background:url('myicons/bullet_stop.png') no-repeat center center;}
.icon-bullet_stop_alt{background:url('myicons/bullet_stop_alt.png') no-repeat center center;}
.icon-bullet_tick{background:url('myicons/bullet_tick.png') no-repeat center center;}
.icon-bullet_wrench_red{background:url('myicons/bullet_wrench_red.png') no-repeat center center;}
.icon-button{background:url('myicons/button.png') no-repeat center center;}
.icon-cake_out{background:url('myicons/cake_out.png') no-repeat center center;}
.icon-cake_sliced{background:url('myicons/cake_sliced.png') no-repeat center center;}
.icon-calendar_select_day{background:url('myicons/calendar_select_day.png') no-repeat center center;}
.icon-calendar_select_none{background:url('myicons/calendar_select_none.png') no-repeat center center;}
.icon-calendar_select_week{background:url('myicons/calendar_select_week.png') no-repeat center center;}
.icon-calendar_star{background:url('myicons/calendar_star.png') no-repeat center center;}
.icon-camera_connect{background:url('myicons/camera_connect.png') no-repeat center center;}
.icon-camera_magnify{background:url('myicons/camera_magnify.png') no-repeat center center;}
.icon-camera_picture{background:url('myicons/camera_picture.png') no-repeat center center;}
.icon-camera_start{background:url('myicons/camera_start.png') no-repeat center center;}
.icon-camera_stop{background:url('myicons/camera_stop.png') no-repeat center center;}
.icon-cart_full{background:url('myicons/cart_full.png') no-repeat center center;}
.icon-cart_magnify{background:url('myicons/cart_magnify.png') no-repeat center center;}
.icon-car_error{background:url('myicons/car_error.png') no-repeat center center;}
.icon-car_red{background:url('myicons/car_red.png') no-repeat center center;}
.icon-car_start{background:url('myicons/car_start.png') no-repeat center center;}
.icon-car_stop{background:url('myicons/car_stop.png') no-repeat center center;}
.icon-cdr{background:url('myicons/cdr.png') no-repeat center center;}
.icon-cdr_add{background:url('myicons/cdr_add.png') no-repeat center center;}
.icon-cdr_burn{background:url('myicons/cdr_burn.png') no-repeat center center;}
.icon-cdr_cross{background:url('myicons/cdr_cross.png') no-repeat center center;}
.icon-cdr_delete{background:url('myicons/cdr_delete.png') no-repeat center center;}
.icon-cdr_edit{background:url('myicons/cdr_edit.png') no-repeat center center;}
.icon-cdr_eject{background:url('myicons/cdr_eject.png') no-repeat center center;}
.icon-cdr_error{background:url('myicons/cdr_error.png') no-repeat center center;}
.icon-cdr_go{background:url('myicons/cdr_go.png') no-repeat center center;}
.icon-cdr_magnify{background:url('myicons/cdr_magnify.png') no-repeat center center;}
.icon-cdr_play{background:url('myicons/cdr_play.png') no-repeat center center;}
.icon-cdr_start{background:url('myicons/cdr_start.png') no-repeat center center;}
.icon-cdr_stop{background:url('myicons/cdr_stop.png') no-repeat center center;}
.icon-cdr_stop_alt{background:url('myicons/cdr_stop_alt.png') no-repeat center center;}
.icon-cdr_tick{background:url('myicons/cdr_tick.png') no-repeat center center;}
.icon-cd_magnify{background:url('myicons/cd_magnify.png') no-repeat center center;}
.icon-cd_play{background:url('myicons/cd_play.png') no-repeat center center;}
.icon-cd_stop{background:url('myicons/cd_stop.png') no-repeat center center;}
.icon-cd_stop_alt{background:url('myicons/cd_stop_alt.png') no-repeat center center;}
.icon-cd_tick{background:url('myicons/cd_tick.png') no-repeat center center;}
.icon-chart_org_inverted{background:url('myicons/chart_org_inverted.png') no-repeat center center;}
.icon-chart_pie_lightning{background:url('myicons/chart_pie_lightning.png') no-repeat center center;}
.icon-check_error{background:url('myicons/check_error.png') no-repeat center center;}
.icon-clipboard{background:url('myicons/clipboard.png') no-repeat center center;}
.icon-clock_start{background:url('myicons/clock_start.png') no-repeat center center;}
.icon-clock_stop{background:url('myicons/clock_stop.png') no-repeat center center;}
.icon-cmy{background:url('myicons/cmy.png') no-repeat center center;}
.icon-cog_start{background:url('myicons/cog_start.png') no-repeat center center;}
.icon-cog_stop{background:url('myicons/cog_stop.png') no-repeat center center;}
.icon-color{background:url('myicons/color.png') no-repeat center center;}
.icon-comment_dull{background:url('myicons/comment_dull.png') no-repeat center center;}
.icon-comment_play{background:url('myicons/comment_play.png') no-repeat center center;}
.icon-comment_record{background:url('myicons/comment_record.png') no-repeat center center;}
.icon-compass{background:url('myicons/compass.png') no-repeat center center;}
.icon-computer_connect{background:url('myicons/computer_connect.png') no-repeat center center;}
.icon-computer_magnify{background:url('myicons/computer_magnify.png') no-repeat center center;}
.icon-computer_off{background:url('myicons/computer_off.png') no-repeat center center;}
.icon-computer_start{background:url('myicons/computer_start.png') no-repeat center center;}
.icon-computer_stop{background:url('myicons/computer_stop.png') no-repeat center center;}
.icon-computer_wrench{background:url('myicons/computer_wrench.png') no-repeat center center;}
.icon-control_add{background:url('myicons/control_add.png') no-repeat center center;}
.icon-control_add_blue{background:url('myicons/control_add_blue.png') no-repeat center center;}
.icon-control_blank{background:url('myicons/control_blank.png') no-repeat center center;}
.icon-control_blank_blue{background:url('myicons/control_blank_blue.png') no-repeat center center;}
.icon-control_power{background:url('myicons/control_power.png') no-repeat center center;}
.icon-control_power_blue{background:url('myicons/control_power_blue.png') no-repeat center center;}
.icon-control_record{background:url('myicons/control_record.png') no-repeat center center;}
.icon-control_record_blue{background:url('myicons/control_record_blue.png') no-repeat center center;}
.icon-control_remove{background:url('myicons/control_remove.png') no-repeat center center;}
.icon-control_remove_blue{background:url('myicons/control_remove_blue.png') no-repeat center center;}
.icon-css_error{background:url('myicons/css_error.png') no-repeat center center;}
.icon-cup_black{background:url('myicons/cup_black.png') no-repeat center center;}
.icon-cup_green{background:url('myicons/cup_green.png') no-repeat center center;}
.icon-cup_tea{background:url('myicons/cup_tea.png') no-repeat center center;}
.icon-cursor_small{background:url('myicons/cursor_small.png') no-repeat center center;}
.icon-database_copy{background:url('myicons/database_copy.png') no-repeat center center;}
.icon-database_start{background:url('myicons/database_start.png') no-repeat center center;}
.icon-database_stop{background:url('myicons/database_stop.png') no-repeat center center;}
.icon-database_wrench{background:url('myicons/database_wrench.png') no-repeat center center;}
.icon-database_yellow{background:url('myicons/database_yellow.png') no-repeat center center;}
.icon-database_yellow_start{background:url('myicons/database_yellow_start.png') no-repeat center center;}
.icon-database_yellow_stop{background:url('myicons/database_yellow_stop.png') no-repeat center center;}
.icon-decline{background:url('myicons/decline.png') no-repeat center center;}
.icon-device_stylus{background:url('myicons/device_stylus.png') no-repeat center center;}
.icon-disk_black{background:url('myicons/disk_black.png') no-repeat center center;}
.icon-disk_black_error{background:url('myicons/disk_black_error.png') no-repeat center center;}
.icon-disk_black_magnify{background:url('myicons/disk_black_magnify.png') no-repeat center center;}
.icon-disk_download{background:url('myicons/disk_download.png') no-repeat center center;}
.icon-disk_edit{background:url('myicons/disk_edit.png') no-repeat center center;}
.icon-disk_error{background:url('myicons/disk_error.png') no-repeat center center;}
.icon-disk_magnify{background:url('myicons/disk_magnify.png') no-repeat center center;}
.icon-disk_upload{background:url('myicons/disk_upload.png') no-repeat center center;}
.icon-door_error{background:url('myicons/door_error.png') no-repeat center center;}
.icon-drink_red{background:url('myicons/drink_red.png') no-repeat center center;}
.icon-drive_cdr{background:url('myicons/drive_cdr.png') no-repeat center center;}
.icon-drive_network_error{background:url('myicons/drive_network_error.png') no-repeat center center;}
.icon-drive_network_stop{background:url('myicons/drive_network_stop.png') no-repeat center center;}
.icon-dvd_start{background:url('myicons/dvd_start.png') no-repeat center center;}
.icon-dvd_stop{background:url('myicons/dvd_stop.png') no-repeat center center;}
.icon-eject_blue{background:url('myicons/eject_blue.png') no-repeat center center;}
.icon-eject_green{background:url('myicons/eject_green.png') no-repeat center center;}
.icon-email_magnify{background:url('myicons/email_magnify.png') no-repeat center center;}
.icon-email_star{background:url('myicons/email_star.png') no-repeat center center;}
.icon-email_start{background:url('myicons/email_start.png') no-repeat center center;}
.icon-email_stop{background:url('myicons/email_stop.png') no-repeat center center;}
.icon-email_transfer{background:url('myicons/email_transfer.png') no-repeat center center;}
.icon-erase{background:url('myicons/erase.png') no-repeat center center;}
.icon-eyes{background:url('myicons/eyes.png') no-repeat center center;}
.icon-feed_star{background:url('myicons/feed_star.png') no-repeat center center;}
.icon-film_eject{background:url('myicons/film_eject.png') no-repeat center center;}
.icon-film_magnify{background:url('myicons/film_magnify.png') no-repeat center center;}
.icon-film_star{background:url('myicons/film_star.png') no-repeat center center;}
.icon-film_start{background:url('myicons/film_start.png') no-repeat center center;}
.icon-film_stop{background:url('myicons/film_stop.png') no-repeat center center;}
.icon-finger_point{background:url('myicons/finger_point.png') no-repeat center center;}
.icon-flag_black{background:url('myicons/flag_black.png') no-repeat center center;}
.icon-flag_checked{background:url('myicons/flag_checked.png') no-repeat center center;}
.icon-flag_france{background:url('myicons/flag_france.png') no-repeat center center;}
.icon-flag_grey{background:url('myicons/flag_grey.png') no-repeat center center;}
.icon-flag_white{background:url('myicons/flag_white.png') no-repeat center center;}
.icon-flower_daisy{background:url('myicons/flower_daisy.png') no-repeat center center;}
.icon-folder_bookmark{background:url('myicons/folder_bookmark.png') no-repeat center center;}
.icon-folder_connect{background:url('myicons/folder_connect.png') no-repeat center center;}
.icon-folder_film{background:url('myicons/folder_film.png') no-repeat center center;}
.icon-folder_font{background:url('myicons/folder_font.png') no-repeat center center;}
.icon-folder_home{background:url('myicons/folder_home.png') no-repeat center center;}
.icon-folder_up{background:url('myicons/folder_up.png') no-repeat center center;}
.icon-font_color{background:url('myicons/font_color.png') no-repeat center center;}
.icon-font_larger{background:url('myicons/font_larger.png') no-repeat center center;}
.icon-font_smaller{background:url('myicons/font_smaller.png') no-repeat center center;}
.icon-forward_blue{background:url('myicons/forward_blue.png') no-repeat center center;}
.icon-forward_green{background:url('myicons/forward_green.png') no-repeat center center;}
.icon-heart_broken{background:url('myicons/heart_broken.png') no-repeat center center;}
.icon-heart_connect{background:url('myicons/heart_connect.png') no-repeat center center;}
.icon-house_connect{background:url('myicons/house_connect.png') no-repeat center center;}
.icon-house_key{background:url('myicons/house_key.png') no-repeat center center;}
.icon-house_star{background:url('myicons/house_star.png') no-repeat center center;}
.icon-html_error{background:url('myicons/html_error.png') no-repeat center center;}
.icon-image_magnify{background:url('myicons/image_magnify.png') no-repeat center center;}
.icon-image_star{background:url('myicons/image_star.png') no-repeat center center;}
.icon-ipod_connect{background:url('myicons/ipod_connect.png') no-repeat center center;}
.icon-ipod_nano{background:url('myicons/ipod_nano.png') no-repeat center center;}
.icon-ipod_nano_connect{background:url('myicons/ipod_nano_connect.png') no-repeat center center;}
.icon-joystick_connect{background:url('myicons/joystick_connect.png') no-repeat center center;}
.icon-keyboard_connect{background:url('myicons/keyboard_connect.png') no-repeat center center;}
.icon-key_start{background:url('myicons/key_start.png') no-repeat center center;}
.icon-key_stop{background:url('myicons/key_stop.png') no-repeat center center;}
.icon-laptop{background:url('myicons/laptop.png') no-repeat center center;}
.icon-laptop_add{background:url('myicons/laptop_add.png') no-repeat center center;}
.icon-laptop_connect{background:url('myicons/laptop_connect.png') no-repeat center center;}
.icon-laptop_delete{background:url('myicons/laptop_delete.png') no-repeat center center;}
.icon-laptop_disk{background:url('myicons/laptop_disk.png') no-repeat center center;}
.icon-laptop_edit{background:url('myicons/laptop_edit.png') no-repeat center center;}
.icon-laptop_error{background:url('myicons/laptop_error.png') no-repeat center center;}
.icon-laptop_go{background:url('myicons/laptop_go.png') no-repeat center center;}
.icon-laptop_key{background:url('myicons/laptop_key.png') no-repeat center center;}
.icon-laptop_link{background:url('myicons/laptop_link.png') no-repeat center center;}
.icon-laptop_magnify{background:url('myicons/laptop_magnify.png') no-repeat center center;}
.icon-laptop_start{background:url('myicons/laptop_start.png') no-repeat center center;}
.icon-laptop_stop{background:url('myicons/laptop_stop.png') no-repeat center center;}
.icon-laptop_wrench{background:url('myicons/laptop_wrench.png') no-repeat center center;}
.icon-layout_key{background:url('myicons/layout_key.png') no-repeat center center;}
.icon-layout_lightning{background:url('myicons/layout_lightning.png') no-repeat center center;}
.icon-lock_key{background:url('myicons/lock_key.png') no-repeat center center;}
.icon-lock_start{background:url('myicons/lock_start.png') no-repeat center center;}
.icon-lock_stop{background:url('myicons/lock_stop.png') no-repeat center center;}
.icon-lorry_start{background:url('myicons/lorry_start.png') no-repeat center center;}
.icon-lorry_stop{background:url('myicons/lorry_stop.png') no-repeat center center;}
.icon-mail{background:url('myicons/mail.png') no-repeat center center;}
.icon-map_clipboard{background:url('myicons/map_clipboard.png') no-repeat center center;}
.icon-map_cursor{background:url('myicons/map_cursor.png') no-repeat center center;}
.icon-map_error{background:url('myicons/map_error.png') no-repeat center center;}
.icon-map_link{background:url('myicons/map_link.png') no-repeat center center;}
.icon-map_start{background:url('myicons/map_start.png') no-repeat center center;}
.icon-map_stop{background:url('myicons/map_stop.png') no-repeat center center;}
.icon-monitor_key{background:url('myicons/monitor_key.png') no-repeat center center;}
.icon-moon_full{background:url('myicons/moon_full.png') no-repeat center center;}
.icon-music_note{background:url('myicons/music_note.png') no-repeat center center;}
.icon-neighbourhood{background:url('myicons/neighbourhood.png') no-repeat center center;}
.icon-new_blue{background:url('myicons/new_blue.png') no-repeat center center;}
.icon-new_red{background:url('myicons/new_red.png') no-repeat center center;}
.icon-next-green{background:url('myicons/next-green.png') no-repeat center center;}
.icon-next_blue{background:url('myicons/next_blue.png') no-repeat center center;}
.icon-next_green{background:url('myicons/next_green.png') no-repeat center center;}
.icon-outline{background:url('myicons/outline.png') no-repeat center center;}
.icon-package_down{background:url('myicons/package_down.png') no-repeat center center;}
.icon-package_in{background:url('myicons/package_in.png') no-repeat center center;}
.icon-package_se{background:url('myicons/package_se.png') no-repeat center center;}
.icon-package_start{background:url('myicons/package_start.png') no-repeat center center;}
.icon-package_stop{background:url('myicons/package_stop.png') no-repeat center center;}
.icon-package_white{background:url('myicons/package_white.png') no-repeat center center;}
.icon-page_back{background:url('myicons/page_back.png') no-repeat center center;}
.icon-page_break{background:url('myicons/page_break.png') no-repeat center center;}
.icon-page_break_insert{background:url('myicons/page_break_insert.png') no-repeat center center;}
.icon-page_cancel{background:url('myicons/page_cancel.png') no-repeat center center;}
.icon-page_forward{background:url('myicons/page_forward.png') no-repeat center center;}
.icon-page_header_footer{background:url('myicons/page_header_footer.png') no-repeat center center;}
.icon-page_landscape{background:url('myicons/page_landscape.png') no-repeat center center;}
.icon-page_landscape_shot{background:url('myicons/page_landscape_shot.png') no-repeat center center;}
.icon-page_magnify{background:url('myicons/page_magnify.png') no-repeat center center;}
.icon-page_portrait{background:url('myicons/page_portrait.png') no-repeat center center;}
.icon-page_portrait_shot{background:url('myicons/page_portrait_shot.png') no-repeat center center;}
.icon-page_white_break{background:url('myicons/page_white_break.png') no-repeat center center;}
.icon-page_white_cdr{background:url('myicons/page_white_cdr.png') no-repeat center center;}
.icon-page_white_connect{background:url('myicons/page_white_connect.png') no-repeat center center;}
.icon-page_white_database_yellow{background:url('myicons/page_white_database_yellow.png') no-repeat center center;}
.icon-page_white_font{background:url('myicons/page_white_font.png') no-repeat center center;}
.icon-page_white_paint{background:url('myicons/page_white_paint.png') no-repeat center center;}
.icon-page_white_paste_table{background:url('myicons/page_white_paste_table.png') no-repeat center center;}
.icon-page_white_refresh{background:url('myicons/page_white_refresh.png') no-repeat center center;}
.icon-page_white_side_by_side{background:url('myicons/page_white_side_by_side.png') no-repeat center center;}
.icon-paint{background:url('myicons/paint.png') no-repeat center center;}
.icon-paintbrush_color{background:url('myicons/paintbrush_color.png') no-repeat center center;}
.icon-paintcan_red{background:url('myicons/paintcan_red.png') no-repeat center center;}
.icon-paint_can_brush{background:url('myicons/paint_can_brush.png') no-repeat center center;}
.icon-pause_blue{background:url('myicons/pause_blue.png') no-repeat center center;}
.icon-pause_green{background:url('myicons/pause_green.png') no-repeat center center;}
.icon-pause_record{background:url('myicons/pause_record.png') no-repeat center center;}
.icon-phone_edit{background:url('myicons/phone_edit.png') no-repeat center center;}
.icon-phone_error{background:url('myicons/phone_error.png') no-repeat center center;}
.icon-phone_go{background:url('myicons/phone_go.png') no-repeat center center;}
.icon-phone_key{background:url('myicons/phone_key.png') no-repeat center center;}
.icon-phone_link{background:url('myicons/phone_link.png') no-repeat center center;}
.icon-phone_start{background:url('myicons/phone_start.png') no-repeat center center;}
.icon-phone_stop{background:url('myicons/phone_stop.png') no-repeat center center;}
.icon-photo_edit{background:url('myicons/photo_edit.png') no-repeat center center;}
.icon-photo_paint{background:url('myicons/photo_paint.png') no-repeat center center;}
.icon-pictures_thumbs{background:url('myicons/pictures_thumbs.png') no-repeat center center;}
.icon-picture_clipboard{background:url('myicons/picture_clipboard.png') no-repeat center center;}
.icon-pill_error{background:url('myicons/pill_error.png') no-repeat center center;}
.icon-play_blue{background:url('myicons/play_blue.png') no-repeat center center;}
.icon-play_green{background:url('myicons/play_green.png') no-repeat center center;}
.icon-plugin_key{background:url('myicons/plugin_key.png') no-repeat center center;}
.icon-previous-green{background:url('myicons/previous-green.png') no-repeat center center;}
.icon-printer_cancel{background:url('myicons/printer_cancel.png') no-repeat center center;}
.icon-printer_color{background:url('myicons/printer_color.png') no-repeat center center;}
.icon-printer_connect{background:url('myicons/printer_connect.png') no-repeat center center;}
.icon-printer_go{background:url('myicons/printer_go.png') no-repeat center center;}
.icon-printer_key{background:url('myicons/printer_key.png') no-repeat center center;}
.icon-printer_mono{background:url('myicons/printer_mono.png') no-repeat center center;}
.icon-printer_start{background:url('myicons/printer_start.png') no-repeat center center;}
.icon-printer_stop{background:url('myicons/printer_stop.png') no-repeat center center;}
.icon-rainbow_star{background:url('myicons/rainbow_star.png') no-repeat center center;}
.icon-record_blue{background:url('myicons/record_blue.png') no-repeat center center;}
.icon-record_green{background:url('myicons/record_green.png') no-repeat center center;}
.icon-record_red{background:url('myicons/record_red.png') no-repeat center center;}
.icon-reload{background:url('myicons/reload.png') no-repeat center center;}
.icon-report_start{background:url('myicons/report_start.png') no-repeat center center;}
.icon-report_stop{background:url('myicons/report_stop.png') no-repeat center center;}
.icon-reverse_blue{background:url('myicons/reverse_blue.png') no-repeat center center;}
.icon-reverse_green{background:url('myicons/reverse_green.png') no-repeat center center;}
.icon-rewind_blue{background:url('myicons/rewind_blue.png') no-repeat center center;}
.icon-rewind_green{background:url('myicons/rewind_green.png') no-repeat center center;}
.icon-rgb{background:url('myicons/rgb.png') no-repeat center center;}
.icon-rosette_blue{background:url('myicons/rosette_blue.png') no-repeat center center;}
.icon-rss_error{background:url('myicons/rss_error.png') no-repeat center center;}
.icon-script_start{background:url('myicons/script_start.png') no-repeat center center;}
.icon-script_stop{background:url('myicons/script_stop.png') no-repeat center center;}
.icon-seasons{background:url('myicons/seasons.png') no-repeat center center;}
.icon-section_collapsed{background:url('myicons/section_collapsed.png') no-repeat center center;}
.icon-section_expanded{background:url('myicons/section_expanded.png') no-repeat center center;}
.icon-server_start{background:url('myicons/server_start.png') no-repeat center center;}
.icon-server_stop{background:url('myicons/server_stop.png') no-repeat center center;}
.icon-server_wrench{background:url('myicons/server_wrench.png') no-repeat center center;}
.icon-shapes_many{background:url('myicons/shapes_many.png') no-repeat center center;}
.icon-shapes_many_select{background:url('myicons/shapes_many_select.png') no-repeat center center;}
.icon-shape_3d{background:url('myicons/shape_3d.png') no-repeat center center;}
.icon-shape_shade_a{background:url('myicons/shape_shade_a.png') no-repeat center center;}
.icon-shape_shade_b{background:url('myicons/shape_shade_b.png') no-repeat center center;}
.icon-shape_shade_c{background:url('myicons/shape_shade_c.png') no-repeat center center;}
.icon-shape_shadow{background:url('myicons/shape_shadow.png') no-repeat center center;}
.icon-shape_shadow_toggle{background:url('myicons/shape_shadow_toggle.png') no-repeat center center;}
.icon-shape_square_select{background:url('myicons/shape_square_select.png') no-repeat center center;}
.icon-share{background:url('myicons/share.png') no-repeat center center;}
.icon-shield_error{background:url('myicons/shield_error.png') no-repeat center center;}
.icon-shield_rainbow{background:url('myicons/shield_rainbow.png') no-repeat center center;}
.icon-shield_silver{background:url('myicons/shield_silver.png') no-repeat center center;}
.icon-shield_start{background:url('myicons/shield_start.png') no-repeat center center;}
.icon-shield_stop{background:url('myicons/shield_stop.png') no-repeat center center;}
.icon-smartphone{background:url('myicons/smartphone.png') no-repeat center center;}
.icon-smartphone_add{background:url('myicons/smartphone_add.png') no-repeat center center;}
.icon-smartphone_connect{background:url('myicons/smartphone_connect.png') no-repeat center center;}
.icon-smartphone_delete{background:url('myicons/smartphone_delete.png') no-repeat center center;}
.icon-smartphone_disk{background:url('myicons/smartphone_disk.png') no-repeat center center;}
.icon-smartphone_edit{background:url('myicons/smartphone_edit.png') no-repeat center center;}
.icon-smartphone_error{background:url('myicons/smartphone_error.png') no-repeat center center;}
.icon-smartphone_go{background:url('myicons/smartphone_go.png') no-repeat center center;}
.icon-smartphone_key{background:url('myicons/smartphone_key.png') no-repeat center center;}
.icon-smartphone_wrench{background:url('myicons/smartphone_wrench.png') no-repeat center center;}
.icon-sort_ascending{background:url('myicons/sort_ascending.png') no-repeat center center;}
.icon-sort_descending{background:url('myicons/sort_descending.png') no-repeat center center;}
.icon-sound_high{background:url('myicons/sound_high.png') no-repeat center center;}
.icon-sound_in{background:url('myicons/sound_in.png') no-repeat center center;}
.icon-sound_out{background:url('myicons/sound_out.png') no-repeat center center;}
.icon-sport_golf_practice{background:url('myicons/sport_golf_practice.png') no-repeat center center;}
.icon-star_bronze{background:url('myicons/star_bronze.png') no-repeat center center;}
.icon-star_bronze_half_grey{background:url('myicons/star_bronze_half_grey.png') no-repeat center center;}
.icon-star_gold{background:url('myicons/star_gold.png') no-repeat center center;}
.icon-star_gold_half_grey{background:url('myicons/star_gold_half_grey.png') no-repeat center center;}
.icon-star_gold_half_silver{background:url('myicons/star_gold_half_silver.png') no-repeat center center;}
.icon-star_grey{background:url('myicons/star_grey.png') no-repeat center center;}
.icon-star_half_grey{background:url('myicons/star_half_grey.png') no-repeat center center;}
.icon-star_silver{background:url('myicons/star_silver.png') no-repeat center center;}
.icon-status_be_right_back{background:url('myicons/status_be_right_back.png') no-repeat center center;}
.icon-status_invisible{background:url('myicons/status_invisible.png') no-repeat center center;}
.icon-stop_blue{background:url('myicons/stop_blue.png') no-repeat center center;}
.icon-stop_green{background:url('myicons/stop_green.png') no-repeat center center;}
.icon-stop_red{background:url('myicons/stop_red.png') no-repeat center center;}
.icon-table_cell{background:url('myicons/table_cell.png') no-repeat center center;}
.icon-table_column{background:url('myicons/table_column.png') no-repeat center center;}
.icon-table_column_add{background:url('myicons/table_column_add.png') no-repeat center center;}
.icon-table_column_delete{background:url('myicons/table_column_delete.png') no-repeat center center;}
.icon-table_connect{background:url('myicons/table_connect.png') no-repeat center center;}
.icon-table_row{background:url('myicons/table_row.png') no-repeat center center;}
.icon-tab_blue{background:url('myicons/tab_blue.png') no-repeat center center;}
.icon-tab_green{background:url('myicons/tab_green.png') no-repeat center center;}
.icon-tab_red{background:url('myicons/tab_red.png') no-repeat center center;}
.icon-tags_grey{background:url('myicons/tags_grey.png') no-repeat center center;}
.icon-tags_red{background:url('myicons/tags_red.png') no-repeat center center;}
.icon-telephone_red{background:url('myicons/telephone_red.png') no-repeat center center;}
.icon-television_in{background:url('myicons/television_in.png') no-repeat center center;}
.icon-television_off{background:url('myicons/television_off.png') no-repeat center center;}
.icon-television_out{background:url('myicons/television_out.png') no-repeat center center;}
.icon-television_star{background:url('myicons/television_star.png') no-repeat center center;}
.icon-text_ab{background:url('myicons/text_ab.png') no-repeat center center;}
.icon-text_complete{background:url('myicons/text_complete.png') no-repeat center center;}
.icon-text_direction{background:url('myicons/text_direction.png') no-repeat center center;}
.icon-text_double_underline{background:url('myicons/text_double_underline.png') no-repeat center center;}
.icon-text_fit{background:url('myicons/text_fit.png') no-repeat center center;}
.icon-text_flip{background:url('myicons/text_flip.png') no-repeat center center;}
.icon-text_font_default{background:url('myicons/text_font_default.png') no-repeat center center;}
.icon-text_inverse{background:url('myicons/text_inverse.png') no-repeat center center;}
.icon-text_left_to_right{background:url('myicons/text_left_to_right.png') no-repeat center center;}
.icon-text_lowercase_a{background:url('myicons/text_lowercase_a.png') no-repeat center center;}
.icon-text_mirror{background:url('myicons/text_mirror.png') no-repeat center center;}
.icon-text_right_to_left{background:url('myicons/text_right_to_left.png') no-repeat center center;}
.icon-text_rotate_0{background:url('myicons/text_rotate_0.png') no-repeat center center;}
.icon-text_rotate_180{background:url('myicons/text_rotate_180.png') no-repeat center center;}
.icon-text_rotate_270{background:url('myicons/text_rotate_270.png') no-repeat center center;}
.icon-text_rotate_90{background:url('myicons/text_rotate_90.png') no-repeat center center;}
.icon-text_ruler{background:url('myicons/text_ruler.png') no-repeat center center;}
.icon-text_shading{background:url('myicons/text_shading.png') no-repeat center center;}
.icon-text_spelling{background:url('myicons/text_spelling.png') no-repeat center center;}
.icon-text_tab{background:url('myicons/text_tab.png') no-repeat center center;}
.icon-theme{background:url('myicons/theme.png') no-repeat center center;}
.icon-time_green{background:url('myicons/time_green.png') no-repeat center center;}
.icon-time_red{background:url('myicons/time_red.png') no-repeat center center;}
.icon-transmit_red{background:url('myicons/transmit_red.png') no-repeat center center;}
.icon-user_alert{background:url('myicons/user_alert.png') no-repeat center center;}
.icon-user_b{background:url('myicons/user_b.png') no-repeat center center;}
.icon-user_brown{background:url('myicons/user_brown.png') no-repeat center center;}
.icon-user_comment{background:url('myicons/user_comment.png') no-repeat center center;}
.icon-user_cross{background:url('myicons/user_cross.png') no-repeat center center;}
.icon-user_earth{background:url('myicons/user_earth.png') no-repeat center center;}
.icon-user_gray_cool{background:url('myicons/user_gray_cool.png') no-repeat center center;}
.icon-user_home{background:url('myicons/user_home.png') no-repeat center center;}
.icon-user_key{background:url('myicons/user_key.png') no-repeat center center;}
.icon-user_magnify{background:url('myicons/user_magnify.png') no-repeat center center;}
.icon-user_mature{background:url('myicons/user_mature.png') no-repeat center center;}
.icon-user_star{background:url('myicons/user_star.png') no-repeat center center;}
.icon-user_suit_black{background:url('myicons/user_suit_black.png') no-repeat center center;}
.icon-user_tick{background:url('myicons/user_tick.png') no-repeat center center;}
.icon-vcard_key{background:url('myicons/vcard_key.png') no-repeat center center;}
.icon-vector_key{background:url('myicons/vector_key.png') no-repeat center center;}
.icon-weather_cloud{background:url('myicons/weather_cloud.png') no-repeat center center;}
.icon-weather_cloudy_rain{background:url('myicons/weather_cloudy_rain.png') no-repeat center center;}
.icon-webcam_connect{background:url('myicons/webcam_connect.png') no-repeat center center;}
.icon-webcam_start{background:url('myicons/webcam_start.png') no-repeat center center;}
.icon-webcam_stop{background:url('myicons/webcam_stop.png') no-repeat center center;}
.icon-world_connect{background:url('myicons/world_connect.png') no-repeat center center;}
.icon-world_dawn{background:url('myicons/world_dawn.png') no-repeat center center;}
.icon-world_key{background:url('myicons/world_key.png') no-repeat center center;}
.icon-world_night{background:url('myicons/world_night.png') no-repeat center center;}
.icon-world_orbit{background:url('myicons/world_orbit.png') no-repeat center center;}
.icon-xhtml_error{background:url('myicons/xhtml_error.png') no-repeat center center;}

